<div class="animated fadeIn mt-5 bg-white">
  <div class="tabs-div">
     <tabset class="mt-5">
      <div class="text-center" *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </div>
      <div class="text-center" *ngIf="!isLoading && globalSearchResults.length <= 0">
        <span class="text-danger">Aucun résultat trouvé, veuillez vérifier votre connexion à internet</span>
      </div>
      <tab>
        <ng-template tabHeading><i class="fa fa-search"></i> Tous</ng-template>
        <div class="search-results" *ngIf="globalSearchResults">
          <div *ngFor="let item of globalSearchResults.items" class="search-result mb-4">
            <a [href]="item.link">
              <h4 class="search-result-title">{{ item.title }}</h4>
            </a>
            <p [innerHTML]="item.htmlSnippet"></p>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading><i class="fa fa-file-image-o"></i> Images</ng-template>
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

            <div *ngFor="let image of firstColumnImages">
              <img [src]="image.link" class="img-fluid mb-4" alt="">
            </div>

          </div>

          <!--Grid column-->

           <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">

           <div *ngFor="let image of secondColumnImages">
              <img [src]="image.link" class="img-fluid mb-4" alt="">
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4">

            <div *ngFor="let image of thirdColumnImages">
              <img [src]="image.link" class="img-fluid mb-4" alt="">
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </tab>
    </tabset>
  </div>


  <div class="gab bg-white"></div>

  <div class="row m-0 align-items-center justify-content-center bg-light pt-2 pb-2">
    <i class="flag-icon flag-icon-cm h6 m-0 mr-1" title="cm" id="cm"></i>
    Cameroun
  </div>
</div>
