<app-header
  [fixed]="false"
  [navbarBrandFull]="{}"
  [sidebarToggler]="''"
  [asideMenuToggler]="''"
  class="pr-3"
  style="border-bottom: 0;">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom left">
      <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Compte</strong></div>
        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-user"></i> Profil</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-wrench"></i> Paramètres</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-lock"></i> Déconnexion</a>
      </div>
    </li>
  </ul>
</app-header>

<!-- Main content -->
<main class="main">
  <div>
    <router-outlet></router-outlet>
  </div><!-- /.container-fluid -->
</main>

<app-footer>
  <span><a href="https://coreui.io">GTEAM</a> &copy; 2021 UDS.</span>
  <span class="ml-auto">Powered by <a href="#">GTEAM</a></span>
</app-footer>
