<div class="animated fadeIn">
  <div class="img-box row m-0 align-items-center justify-content-center bg-white pb-4">
    <img src="assets/img/avatars/6.jpg" alt="Logo">
  </div>

  <div class="row m-0 align-items-center justify-content-center bg-white">
    <form class="form-inline my-2 my-lg-0 w-50">
      <div class="search-bar d-flex align-items-center justify-content-space-between w-100">
        <span class="ml-3">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" name="input1-group2" placeholder="Saisir votre recherche" class="form-control search-bar-input">
        <span>
          <i class="fa fa-times"></i>
        </span>
      </div>
    </form>
  </div>

  <div class="row m-0 align-items-center justify-content-center bg-white pt-3 pb-4">
    <button type="button" class="btn btn-outline-primary"><i class="fa fa-lightbulb-o"></i>&nbsp;Recherche Faasou</button>
    <button type="button" class="btn btn-outline-success ml-3"><i class="fa fa-user"></i>&nbsp;Profile Faasou</button>
  </div>

  <div class="row m-0 align-items-center justify-content-center bg-white pb-5">
    <span>Faasou est distribué en: <a href="javascript:void(0)">Francais</a></span>
  </div>

  <div class="gab bg-white"></div>

  <div class="row m-0 align-items-center justify-content-center bg-light pt-2 pb-2">
    <i class="flag-icon flag-icon-cm h6 m-0 mr-1" title="cm" id="cm"></i>
    Cameroun
  </div>
</div>
